body{
    background-image: linear-gradient(to bottom, #e69797, #e2a7bf, #d4bada, #cacce5, #d0dbe6);
}
.foto{
    width:30%;
}
h1, h2{
    font-family: 'Inter', sans-serif;
    size: 30px;
}
p{
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
    color:#2a3965;
    font-style: italic;

}
.rodape{
    background-image: linear-gradient(to left, #e69797, #e2a7bf, #d4bada, #cacce5, #d0dbe6);
}
.contato, .direitos{ 
    margin-top: 40px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
    color:#2a3965;
}